<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>something new</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<table>
		<tr>
			<th>Подготовка документов <br> <hr> 2900r</th>
		</tr>
		<tr>
			<td>1</td>
		</tr>
		<tr>
			<td>1</td>
		</tr>
		<tr>
			<td>1</td>
		</tr>
		<tr>
			<td>1 yea</td>
		</tr>
		<tr>
			<td>1</td>
		</tr>
		<tr>
			<td>1</td>
		</tr>
		<tr>
			<td>1</td>
		</tr>
		<tr>
			<td>1</td>
		</tr>
		<tr>
			<td>dadada</td>
		</tr>
		<tr>
			<td>1</td>
		</tr>
	</table>
	<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus nisi neque temporibus. Odio, quo, officiis ducimus quos rem eveniet voluptatum illum non aspernatur optio repellendus asperiores explicabo. Hic commodi voluptate architecto beatae quisquam autem, enim earum error sapiente esse in est quas cum praesentium voluptatum quidem. Optio, animi placeat cum, eligendi impedit illo ipsum hic earum! Fugit quibusdam rerum quaerat, laudantium cupiditate sint iure, in voluptates soluta commodi molestiae cum perspiciatis odit nostrum. Deleniti rem quo, sapiente commodi odio animi. Vitae veritatis, laboriosam rerum. A quae, voluptatem sed dignissimos labore, odit illum ducimus modi assumenda impedit necessitatibus eligendi? Eum, dignissimos.</div>

  <div class="grad">
    <img src="http://lorempixel.com/400/300/abstract" alt="lor">
  </div>

  <ul class="nav">
    <li class="main-menu">
        <a href>Main Menu</a>
        <a href>Products</a>
        <a href>Store</a>
        <a href>Forum</a>
    </li>
    <li class="settings">
        <a href>Settings</a>
        <a href>Account</a>
        <a href>Notifications</a>
        <a href>Dislpay</a>
    </li>
    <li class="link">
        <a href>Link</a>
        <a href>Embed</a>
        <a href>Short link</a>
        <a href>Full link</a>
    </li>
    <li class="search">
        <a href>Search</a>
        <a href>Item 2</a>
        <a href>Item 3</a>
        <a href>Item 4</a>
    </li>
</ul>

<section class="label">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, quaerat.</section>

<section class="block">
  <div class="btn">J</div>
  <div class="btn">E</div>
  <div class="btn">U</div>
  <div class="btn">L</div>
  <div class="btn">B</div>
  <div class="btn">M</div>
</section>

<div id="wrapper">
    <div id="cont">
        <iframe id="myframe" src="https://www.youtube.com/embed/52Gg9CqhbP8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>

<div id="wrapper1">
  <div id="cube">
    <div class="side" id="side1">1</div>
    <div class="side" id="side2">2</div>
    <div class="side" id="side3">3</div>
    <div class="side" id="side4">4</div>
    <div class="side" id="side5">5</div>
    <div class="side" id="side6">6</div>
  </div>
</div>
<div class="square"></div>

<div class="contain">
  <div class="bar"></div>
</div>

<div class="block1 "></div>
<div class="block1 second"></div>
<div class="block1 third"></div>

<a href="verstka.html">verstka</a>
<a href="itsatrap.html">bootstrap</a>

<div class="colcol">
  <h2>Lorem ipsum dolor sit amet, consectetur adipisicing.</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum vero assumenda, atque magni! Fugit accusantium qui in a, voluptas autem eos optio esse quaerat eum porro laboriosam sed inventore reiciendis distinctio numquam itaque rerum commodi officia est quia assumenda natus adipisci. Saepe nostrum harum odit sit neque sint alias ad, dolorem aliquid, sed? Ex ab dignissimos eius molestias, soluta id molestiae assumenda dolor laborum veniam quia eveniet quaerat quae aliquam.</p>
  <img src="http://via.placeholder.com/140x100"></img>
  <h2>Deserunt eius hic asperiores ab, pariatur nostrum.</h2>
  <p>Distinctio amet autem, quia, unde voluptatibus qui in perspiciatis repudiandae nostrum esse obcaecati aperiam molestiae assumenda a ad iure maiores vero nulla voluptate ullam non et perferendis omnis porro officia. Atque possimus id quidem, ipsam nesciunt, ipsum, itaque quae dicta magnam eaque ut natus necessitatibus! Nostrum distinctio eius autem, veniam nemo sapiente! Aspernatur corporis voluptates saepe deserunt eveniet quidem. Nemo voluptas adipisci aspernatur, velit doloribus quisquam dicta accusamus! Corporis, eos.</p>
  <img src="http://via.placeholder.com/140x100"></img>
  <h2>Facilis debitis quibusdam quisquam, quia deserunt recusandae!</h2>
  <p>Error repellat, laborum ab facilis in reiciendis minus praesentium quas voluptates voluptas tenetur ad consequuntur ex rem veniam, similique qui dolores nulla vel nemo, quae ea inventore tempore. Provident aperiam atque ut iste quis ratione necessitatibus officia, laboriosam expedita explicabo velit excepturi sint quasi libero cumque, quam modi aspernatur. Ipsam et voluptates officia laudantium molestias reprehenderit maxime distinctio laboriosam est laborum nemo, eos unde? Animi aut, voluptatem perferendis sequi ullam?</p>
  <img src="http://via.placeholder.com/140x100"></img>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="main.js"></script>		
</body>
</html>