* {
	transition: all .2s
}

body {
	font-family: Roboto, Verdana, Arial, Times New Roman;
	font-family: "Pt Sans", Verdana, Arial, Times New Roman;
	font-size: 20px;
	color: #333;
	background: #B4B4B4;
	text-shadow: 0 1px 0 #eee;
}

table {
	width: 10%;
	border-collapse: collapse;
	text-align: center;
}

td,th {
	padding: 8px;
	border: 1px solid grey;\

}

.nav {
    list-style:none;
    margin:30px;
    opacity:.5;
    padding:0;
    width:50px;
    
    -moz-transition:opacity .3s ease-in-out;
    -webkit-transition:opacity .3s ease-in-out;
    -o-transition:opacity .3s ease-in-out;
    transition:opacity .3s ease-in-out;
}

.nav:hover {
    opacity:1;
}

.nav li {
    height:50px;
    overflow:hidden;
    width:50px;
    
    -moz-transition:width .2s ease-in-out, height .2s ease-in-out .2s;
    -webkit-transition:width .2s ease-in-out, height .2s ease-in-out .2s;
    -o-transition:width .2s ease-in-out, height .2s ease-in-out .2s;
    transition:width .2s ease-in-out, height .2s ease-in-out .2s;
}

.nav li:hover {
    height:175px;
    width:200px;
}

.nav li a {
    background:#bbb;
    color:black;
    cursor:pointer;
    display:block;
    height:40px;
    line-height:40px;
    margin:1px;
    padding-left:15px;
    width:200px;
    text-decoration:none;
    
    -moz-transition:background .2s ease-in-out;
    -webkit-transition:background .2s ease-in-out;
    -o-transition:background .2s ease-in-out;
    transition:background .2s ease-in-out;
}

.nav li a:hover {
    background:#2fc5ff;
}

.nav li a:first-child {
    font-size:1.1em;
    height:50px;
    line-height:50px;
    position:relative;
    text-indent:36px;
}

.nav li a:first-child::before {
    content:'';
    display:block;
    height:32px;
    left:9px;
    position:absolute;
    top:9px;
    width:32px;
}

.main-menu a:first-child::before {
    background:url(http://defaulticon.com/images/icons32x32/home.png?itok=4tougUBV) center no-repeat;
}

.settings a:first-child::before {
    background:url(http://defaulticon.com/images/icons32x32/settings.png?itok=f3WwNrKf) center no-repeat;
}

.link a:first-child::before {
    background:url(http://defaulticon.com/images/icons32x32/link.png?itok=ZWITPB3E) center no-repeat;
}

.search a:first-child::before {
    background:url(http://defaulticon.com/images/icons32x32/search_0.png?itok=eqsHkE5C) center no-repeat;
}

.grad {
	background: #999;
	border-radius: 5px;
	box-shadow: 0 8px 15px rgba(0, 0, 0, .6);
	cursor: pointer;
	float: left;
	height: 300px;
	margin: 40px;
	overflow: hidden;
	position: relative;
	width: 400px;

	background:linear-gradient(to left top, #333, #bbb);
	-moz-background: linear-gradient(right top, #333, #bbb);
	-webkit-background: linear-gradient(right top, #333, #bbb);
	-o-background: linear-gradient(right top, #333, #bbb);
}

.grad::after {
	background: #444;
	content: '';
	display: block;
	height: 300px;
	left: 0;
	position: absolute;
	top: 0;
	width: 400px;
	background: repeating-linear-gradient(-45deg, rgba(0,0,0,.3) 4px, rgba(0, 0, 0,.3) 8px, transparent 8px, transparent 12px),
	 repeating-linear-gradient(45deg, rgba(0,0,0,.3) 4px, rgba(0, 0, 0,.3) 8px, transparent 8px, transparent 12px);
}

.grad:hover::after {
	opacity: 0;
	transition: opacity .4s ease-in-out;
}

#cont {
	background: rgba(0, 0, 0, .3);
	border-radius: 8px;
	border: 3px solid #fff;
	color: #fff;
	font-size: 1.2em;
	height: 150px;
	line-height: 150px;
	margin: 100px;
	text-align: center;
	width: 250px; 
	transform: translate(30px, -50px) rotate(20deg) scale(1.2) rotateX(15deg) rotateY(-10deg);
}

#wrapper {
	perspective: 500px;
	width: 500px;
	height: 200px;
}

#myframe {
	width: 350px;
	height: 200px;
}

#cube {
	position: relative;
	width: 300px;
	height: 300px;
	transform-origin: 50% 50% -150px;
	transform-style: preserve-3d;
}

.side {
	width: 300px;
	height: 300px;
	background: rgba(0, 0, 0, .3);
	position: absolute;
	background: radial-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .5));
	border: 10px solid #fff;
	border-radius: 10px;
	font-size: 5em;
	color: #fff;
	line-height: 300px;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 0 6px rgba(0, 0, 0, .5);
	transform-origin: 50% 50% -150px;
	backface-visibility: hidden;
}

#wrapper1 {
	margin: 80px;
	perspective: 900px;
}

#side2 {
	transform: rotateY(90deg);
}

#side3 {
	transform: rotateY(-90deg);
}

#side4 {
	transform: rotateX(90deg);
}

#side5 {
	transform: rotateX(-90deg);
}

#side6 {
	transform: rotateY(180deg);
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.square {
	width: 60px;
	height: 60px;
	background: #333;
	margin: 30px;
	box-shadow: 0 0 4px rgba(0,0,0,.4);
	animation: spin 2s linear 1s infinite alternate;
	/*animation-name: spin;
	-webkit-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
	animation-iteration-count: infinite;  //тоже самое что в пункте animation//
	animation-timing-function: linear; 
	animation-delay: 1s;
	-webkit-animation-direction: alternate;
	-o-animation-direction: alternate;
	animation-direction: alternate;*/
}

.square:hover {
	animation-play-state: paused;
}

.contain {
	width: 200px;
	height: 30px;
	border: 3px solid #fff;
	background: #999;
	border-radius: 7px;
	overflow: hidden;
	margin: 40px;
	box-shadow: 0 3px 4px rgba(0,0,0,.3);
}

.bar {
	height: 30px;
	width: 400px;
	background: repeating-linear-gradient(45deg, rgba(255,255,255,.9) 0, rgba(255,255,255,.9) 5px, transparent 5px, transparent 10px);
	animation: slide 3s linear infinite;
}

@keyframes slide{
	0%{
		margin-left: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		margin-left: -100%;
	}
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

@font-face {
	font-family: PTSans;
	src: url(2221.eot);
	src: url('dsdsdaeqwqqe223da444323~~~```'),
	url(ptsans.woff) format('woff'),
	url(ptsans.ttf) format('truetype'),
	url(ptsans.svg) format('svg');
	font-weight: normal
	font-style: normal;
}

@font-face {
    font-family: 'SignifyLite';
    src: url('signifylite-webfont.eot');
    src: url('signifylite-webfont.eot?#iefix') format('embedded-opentype'),
         url('signifylite-webfont.woff') format('woff'),
         url('signifylite-webfont.ttf') format('truetype'),
         url('signifylite-webfont.svg#SignifyLite') format('svg');
    font-weight: normal;
    font-style: normal;

}

.label {
	font-family: PTSans, Arial;
	font-size: 1.4em;
}

section {
	margin: 3px 40px;
	padding: 20px;
}

.block {
	background: white;
	border-radius: 5px;
	box-shadow: 0 3px 20px rgba(0,0,0,.2);
	border-top: 1px solid rgba(255, 255, 255, .7);
}

.btn {
	width: 60px;
	height: 60px;
	font: 1.4em SignifyLite;
	display: inline-block;
	margin: 5px;
	text-align: center;
	line-height: 49px;
	color: #333;
	border-radius: 3px;
	transition: all .5s;
}

.btn:hover {
	color: #eee;
	background: #333;
	cursor: pointer;
	text-shadow: none;
	transform: scale(1.2);
}

.block1{
	background: #333;
	width: 940px;
	height: 200px;
	margin: 5px auto;
	border-radius: 5px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
	position: relative;
}

@media only screen and (min-width: 610px) {

	.block1:after {
		content: 'New element';
		position: absolute;
		top: 10px;
		left: -5px;
		background: #222;
		border-radius: 5px;
		padding: 10px;
		color: #eee;
	}
}

.block1:hover {
	animation: bounce 1s linear infinite;
}

@media only screen and (max-width: 950px) {
	.block1 {
		width: 650px;
		background: #24476c;
	}
}

@media only screen and (max-width: 610px) {
	.block1 {
		width: 320px;
		background: #85221e;
	}

	.second, .third {
		height: 50px;
	}
}

.colcol {
	margin: 50px;
	column-width: 300px;
	column-gap: 100px;
	column-rule: 2px dashed rgba(0, 0, 0, .5);
}