body {
	font-family: Arial;
	font-size: 20px;
	color: #333;
	background: #f3f3f3;
}

table {
	width: 10%;
	border-collapse: collapse;
	text-align: center;
}

td,th {
	padding: 8px;
	border: 1px solid grey;
}